<?xml version="1.0" encoding="utf-8"?>
<Content Key="93b9d3e4-e180-4f7f-a4ce-813a4e1420d2" Alias="Added packages" Level="3">
  <Info>
    <Parent Key="3c764c52-f7fe-4f35-8b69-f06af3b663b4">Blog 2.0</Parent>
    <Path>/Examensarbete2022/Blog20/AddedPackages</Path>
    <Trashed>false</Trashed>
    <ContentType>articleItem</ContentType>
    <CreateDate>2022-02-12T13:14:07</CreateDate>
    <NodeName Default="Added packages" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="29c8fd91-b598-4188-804e-c821ed22f88f">ArticleItem</Template>
  </Info>
  <Properties>
    <authorName>
      <Value><![CDATA[Svante]]></Value>
    </authorName>
    <bodyText>
      <Value><![CDATA[<p>I have added two packages via NuGet.<br />One that installed a new dashboard in Umbraco Backoffice that displays logs of edits made instead of the default "Get Started" landing page. <br />The other one was the Usync package that saves everything from the database in a folder. This saved me from a lot of hassle developing locally from different computers. Now I could pull my repo from Github run the application and restore the database with Usync. <br /><img src="?rmode=max&amp;width=500" alt="" width="500" height="67.42671009771986" data-udi="umb://media/132e5a0f1a3349118afb14fbe0f1a047" /><br /><br /></p>]]></Value>
    </bodyText>
    <categories>
      <Value><![CDATA[["LifeSaver","Packages"]]]></Value>
    </categories>
    <introText>
      <Value><![CDATA[Third-party packages make things easier!]]></Value>
    </introText>
    <publishedOn>
      <Value><![CDATA[2022-02-08T00:00:00]]></Value>
    </publishedOn>
    <subtitle>
      <Value><![CDATA["This is so emotional im gonna take this in english" Pölsa]]></Value>
    </subtitle>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "5005a50c-59a1-4db7-8105-3d446e82198e",
    "mediaKey": "cb0555b5-75bc-4a39-a298-f854a50bacbc",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </thumbnailImage>
    <title>
      <Value><![CDATA[Usync ❤]]></Value>
    </title>
  </Properties>
</Content>