<?xml version="1.0" encoding="utf-8"?>
<Content Key="8860a9b0-5fee-4eb3-9298-4e5be36a96ff" Alias="Article om annanas" Level="102">
  <Info>
    <Parent Key="8d7b4400-0402-4222-9a48-d253d71ec8be">Blogg</Parent>
    <Path>/[-20]/Blogg/ArticleOmAnnanas</Path>
    <Trashed Parent="8d7b4400-0402-4222-9a48-d253d71ec8be">true</Trashed>
    <ContentType>articleItem</ContentType>
    <CreateDate>2022-01-21T12:20:16</CreateDate>
    <NodeName Default="Article om annanas" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="29c8fd91-b598-4188-804e-c821ed22f88f">ArticleItem</Template>
  </Info>
  <Properties>
    <authorName>
      <Value><![CDATA[]]></Value>
    </authorName>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <categories>
      <Value><![CDATA[]]></Value>
    </categories>
    <introText>
      <Value><![CDATA[]]></Value>
    </introText>
    <publishedOn>
      <Value><![CDATA[]]></Value>
    </publishedOn>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <thumbnailImage>
      <Value><![CDATA[]]></Value>
    </thumbnailImage>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>