<?xml version="1.0" encoding="utf-8"?>
<Content Key="8d7b4400-0402-4222-9a48-d253d71ec8be" Alias="Blogg" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Blogg</Path>
    <Trashed Parent="488a734f-c596-4e67-8ed9-e47fb92ebec7">true</Trashed>
    <ContentType>articlesMain</ContentType>
    <CreateDate>2022-01-20T12:48:28</CreateDate>
    <NodeName Default="Blogg" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c942fdaf-ac87-46a9-8b89-157b1fd3ef55">ArticlesMain</Template>
  </Info>
  <Properties>
    <articleBodyText>
      <Value><![CDATA[<p>mitt content</p>]]></Value>
    </articleBodyText>
    <articleTitle>
      <Value><![CDATA[Min titel]]></Value>
    </articleTitle>
    <featureStory>
      <Value><![CDATA[]]></Value>
    </featureStory>
  </Properties>
</Content>