<?xml version="1.0" encoding="utf-8"?>
<Content Key="3c764c52-f7fe-4f35-8b69-f06af3b663b4" Alias="Blog 2.0" Level="2">
  <Info>
    <Parent Key="488a734f-c596-4e67-8ed9-e47fb92ebec7">Examensarbete 2022</Parent>
    <Path>/Examensarbete2022/Blog20</Path>
    <Trashed>false</Trashed>
    <ContentType>articlesMain</ContentType>
    <CreateDate>2022-02-08T11:12:43</CreateDate>
    <NodeName Default="Blog 2.0" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c942fdaf-ac87-46a9-8b89-157b1fd3ef55">ArticlesMain</Template>
  </Info>
  <Properties>
    <articleBodyText>
      <Value><![CDATA[]]></Value>
    </articleBodyText>
    <articleTitle>
      <Value><![CDATA[Blog 2.0]]></Value>
    </articleTitle>
    <featureStory>
      <Value><![CDATA[umb://document/d14409348e8c48bca268b54fddba024b]]></Value>
    </featureStory>
  </Properties>
</Content>