<?xml version="1.0" encoding="utf-8"?>
<Content Key="e51a55d4-0bdd-435b-b1a3-14761eb7735a" Alias="c" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/c</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2022-03-25T10:39:00</CreateDate>
    <NodeName Default="c" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c27dac07-2402-4828-b527-4e8c411e33da">HomePage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <buttonText>
      <Value><![CDATA[]]></Value>
    </buttonText>
    <footerText>
      <Value><![CDATA[]]></Value>
    </footerText>
    <header>
      <Value><![CDATA[]]></Value>
    </header>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
  </Properties>
</Content>