<?xml version="1.0" encoding="utf-8"?>
<Content Key="d1440934-8e8c-48bc-a268-b54fddba024b" Alias="Cleaner" Level="3">
  <Info>
    <Parent Key="3c764c52-f7fe-4f35-8b69-f06af3b663b4">Blog 2.0</Parent>
    <Path>/Examensarbete2022/Blog20/Cleaner</Path>
    <Trashed>false</Trashed>
    <ContentType>articleItem</ContentType>
    <CreateDate>2022-02-08T11:53:17</CreateDate>
    <NodeName Default="Cleaner" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="29c8fd91-b598-4188-804e-c821ed22f88f">ArticleItem</Template>
  </Info>
  <Properties>
    <authorName>
      <Value><![CDATA[Svante]]></Value>
    </authorName>
    <bodyText>
      <Value><![CDATA[<p>I blog 2.0 skickar jag med lite metadata som berättar om vem som skrivit, när det publicerats och vilken kategori.</p>
<p>Css har även fått en liten uppdatering.</p>
<p>Under är koden som hämtar upp alla blogginlägg och renderar dem på sidan</p>
<p> <img src="?rmode=max&amp;width=500" alt="" width="500" height="265.16052318668255" data-udi="umb://media/e226805fb0d94be89ee50256b3058eeb" /></p>
<p> </p>]]></Value>
    </bodyText>
    <categories>
      <Value><![CDATA[["Tech"]]]></Value>
    </categories>
    <introText>
      <Value><![CDATA[Provar lite ny design på bloggen]]></Value>
    </introText>
    <publishedOn>
      <Value><![CDATA[2022-02-08T00:00:00]]></Value>
    </publishedOn>
    <subtitle>
      <Value><![CDATA[Gör om gör rätt]]></Value>
    </subtitle>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "1cac7392-5c00-4d22-9d01-1b6912ffaa8c",
    "mediaKey": "e226805f-b0d9-4be8-9ee5-0256b3058eeb",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </thumbnailImage>
    <title>
      <Value><![CDATA[Renare snyggare blogg]]></Value>
    </title>
  </Properties>
</Content>