<?xml version="1.0" encoding="utf-8"?>
<Content Key="93565c19-8850-4d07-920b-a33f1a160a14" Alias="Dokumentation" Level="3">
  <Info>
    <Parent Key="3c764c52-f7fe-4f35-8b69-f06af3b663b4">Blog 2.0</Parent>
    <Path>/Examensarbete2022/Blog20/Dokumentation</Path>
    <Trashed>false</Trashed>
    <ContentType>articleItem</ContentType>
    <CreateDate>2022-02-10T11:05:05</CreateDate>
    <NodeName Default="Dokumentation" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="29c8fd91-b598-4188-804e-c821ed22f88f">ArticleItem</Template>
  </Info>
  <Properties>
    <authorName>
      <Value><![CDATA[Svante Joelsson]]></Value>
    </authorName>
    <bodyText>
      <Value><![CDATA[<p>Skickade introtexten för läsning av den mest otekniska människa jag känner min mamma. Väntar spänt på Feedback. </p>
<p><img src="?rmode=max&amp;height=500" alt="" width="394.1684665226782" height="500" data-udi="umb://media/d5db97773a1046ecae5a43d088ff1a58" /></p>]]></Value>
    </bodyText>
    <categories>
      <Value><![CDATA[["Pressentation"]]]></Value>
    </categories>
    <introText>
      <Value><![CDATA[Oväntat kul att skriva dokumentation]]></Value>
    </introText>
    <publishedOn>
      <Value><![CDATA[2022-02-06T00:00:00]]></Value>
    </publishedOn>
    <subtitle>
      <Value><![CDATA[Dokumentationen börjar arta sig]]></Value>
    </subtitle>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "61edee63-2eb8-4660-ad50-93eb0b27e797",
    "mediaKey": "d5db9777-3a10-46ec-ae5a-43d088ff1a58",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </thumbnailImage>
    <title>
      <Value><![CDATA[Dokumentation]]></Value>
    </title>
  </Properties>
</Content>