<?xml version="1.0" encoding="utf-8"?>
<Content Key="488a734f-c596-4e67-8ed9-e47fb92ebec7" Alias="Examensarbete 2022" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Examensarbete2022</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2022-01-18T13:46:46</CreateDate>
    <NodeName Default="Examensarbete 2022" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c27dac07-2402-4828-b527-4e8c411e33da">HomePage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Målet med webbplatsen är att utforska olika sätt att publicera innehåll med hjälp av Umbraco 9 <br />Framför allt är denna hemsida en blogg.<br />Alla bilder och texter är dynamiska och enkla att byta ut.</p>
<p> </p>
<ul>
<li style="text-align: left;">Artickar/blogginlägg</li>
<li style="text-align: left;">Content sidor<br /><img src="?rmode=max&amp;width=384&amp;height=411" alt="UmbracoLogo" width="384" height="411" data-udi="umb://media/68fdf15ce018476f9e49a03331464154" /></li>
</ul>]]></Value>
    </bodyText>
    <buttonText>
      <Value><![CDATA[Content page]]></Value>
    </buttonText>
    <footerText>
      <Value><![CDATA[Svante Joelsson]]></Value>
    </footerText>
    <header>
      <Value><![CDATA[Examensarbete 2022 😀]]></Value>
    </header>
    <pageTitle>
      <Value><![CDATA[Umbraco 9]]></Value>
    </pageTitle>
    <subtitle>
      <Value><![CDATA[Denna texten är dynamisk]]></Value>
    </subtitle>
  </Properties>
</Content>