<?xml version="1.0" encoding="utf-8"?>
<Content Key="b74166a4-2078-4491-9397-574c6d54e667" Alias="Kontakta oss" Level="2">
  <Info>
    <Parent Key="488a734f-c596-4e67-8ed9-e47fb92ebec7">Examensarbete 2022</Parent>
    <Path>/Examensarbete2022/KontaktaOss</Path>
    <Trashed>false</Trashed>
    <ContentType>contactContent</ContentType>
    <CreateDate>2022-01-18T14:55:33</CreateDate>
    <NodeName Default="Kontakta oss" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="73cdbfe3-f0d7-4ca0-8d81-0fd063c716c8">ContactContent</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p style="padding-left: 40px;">Korpegatan 21 b</p>
<p style="padding-left: 40px;">452 35 Strömstad</p>
<p style="padding-left: 40px;">epost <a href="mailto:svante.joelsson@gmail.com">svante.joelsson@gmail.com</a></p>
<p style="padding-left: 40px;">Tel 0706 455 555</p>]]></Value>
    </bodyText>
    <pageTitle>
      <Value><![CDATA[Kontakta oss]]></Value>
    </pageTitle>
  </Properties>
</Content>