<?xml version="1.0" encoding="utf-8"?>
<Content Key="a74e8b0c-bef8-4a7a-a114-f3c1b6a9acfc" Alias="Opibliserat" Level="3">
  <Info>
    <Parent Key="3c764c52-f7fe-4f35-8b69-f06af3b663b4">Blog 2.3</Parent>
    <Path>/Examensarbete2022/Blog23/Opibliserat</Path>
    <Trashed>false</Trashed>
    <ContentType>articleItem</ContentType>
    <CreateDate>2022-02-08T12:57:52</CreateDate>
    <NodeName Default="Opibliserat" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="29c8fd91-b598-4188-804e-c821ed22f88f">ArticleItem</Template>
  </Info>
  <Properties>
    <authorName>
      <Value><![CDATA[Svante]]></Value>
    </authorName>
    <bodyText>
      <Value><![CDATA[<p><strong>Men nu så</strong></p>]]></Value>
    </bodyText>
    <categories>
      <Value><![CDATA[["Redovisning"]]]></Value>
    </categories>
    <introText>
      <Value><![CDATA[Detta Blogginlägget är inte publiserat]]></Value>
    </introText>
    <publishedOn>
      <Value><![CDATA[2022-02-08T00:00:00]]></Value>
    </publishedOn>
    <subtitle>
      <Value><![CDATA[Publisera or Unpublish]]></Value>
    </subtitle>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "85d01402-2555-4ea4-a46f-f741dff9350f",
    "mediaKey": "66377ec3-618e-48c7-801e-b2d1cd207cad",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </thumbnailImage>
    <title>
      <Value><![CDATA[Publisera ett blogginlägg]]></Value>
    </title>
  </Properties>
</Content>