<?xml version="1.0" encoding="utf-8"?>
<Content Key="bc5555ae-4f5a-4d94-8615-5c1e2df733f7" Alias="Reflektion" Level="3">
  <Info>
    <Parent Key="3c764c52-f7fe-4f35-8b69-f06af3b663b4">Blog 2.0</Parent>
    <Path>/Examensarbete2022/Blog20/Reflektion</Path>
    <Trashed>false</Trashed>
    <ContentType>articleItem</ContentType>
    <CreateDate>2022-02-11T11:30:24</CreateDate>
    <NodeName Default="Reflektion" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="29c8fd91-b598-4188-804e-c821ed22f88f">ArticleItem</Template>
  </Info>
  <Properties>
    <authorName>
      <Value><![CDATA[Svante]]></Value>
    </authorName>
    <bodyText>
      <Value><![CDATA[<p>Kollar jag tillbaka på min draft så var ambitionen att lära mig verktyget Umbraco. <br />Hur jag skulle uppnå det var att kopiera ett befintligt koncept. Nämligen sidor som Min Bästa bok och liknande där man enkelt surfar in och väljer en bok för att sedan ställa in innehållet så som frisyr, namn och ögonfärg.<br /><br /><img src="?rmode=max&amp;width=500" alt="" width="500" height="366.92015209125475" data-udi="umb://media/4a54a449c76d4f60a99bb3b3e54dc245" /> </p>
<p>Jag gjorde efter någon vecka en omvärdering av mina planer. Jag valde bort React och typeScript för ASP.net Core som Umbraco är gjort för "out of the box". Jag tog bort att designa karaktärer från backloggen och började designa en blogg. Det kändes som ett nederlag men nödvändigt för att ta mig vidare med Umbraco.<br /><br />Men om jag sammanfattar projektarbetet så är jag ändå nöjd med mina val. Tiden jag använde för att lära om Umbraco med React var inte produktiv men lärorik. Jag behövde ta till mig av grunderna för att på riktigt förstå verktyget. Jag var inte redo att ta mig an "min bok" projektet men med Umbraco kan man absolut göra det och nu vet jag också lite mer hur.<br /><br /><br /><br /><br /></p>
<p><br /><br /></p>]]></Value>
    </bodyText>
    <categories>
      <Value><![CDATA[["Dokumentation","Redovisning"]]]></Value>
    </categories>
    <introText>
      <Value><![CDATA[Examensarbetet har många lärdomar med sig!
]]></Value>
    </introText>
    <publishedOn>
      <Value><![CDATA[2022-02-11T00:00:00]]></Value>
    </publishedOn>
    <subtitle>
      <Value><![CDATA[Nu när redovisningen börjar lida mot sitt slut är det dags att reflektera!]]></Value>
    </subtitle>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "b96e748e-e2d4-42b8-9590-3745ab13707a",
    "mediaKey": "4a54a449-c76d-4f60-a99b-b3b3e54dc245",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </thumbnailImage>
    <title>
      <Value><![CDATA[Reflektion]]></Value>
    </title>
  </Properties>
</Content>