<?xml version="1.0" encoding="utf-8"?>
<Content Key="119c76f6-3993-4217-8f2d-e90eb9d730cb" Alias="Research" Level="3">
  <Info>
    <Parent Key="3c764c52-f7fe-4f35-8b69-f06af3b663b4">Blog 2.0</Parent>
    <Path>/Examensarbete2022/Blog20/Research</Path>
    <Trashed>false</Trashed>
    <ContentType>articleItem</ContentType>
    <CreateDate>2022-02-15T21:57:07</CreateDate>
    <NodeName Default="Research" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="29c8fd91-b598-4188-804e-c821ed22f88f">ArticleItem</Template>
  </Info>
  <Properties>
    <authorName>
      <Value><![CDATA[Svante]]></Value>
    </authorName>
    <bodyText>
      <Value><![CDATA[<p>Jag har slitit lite med att hitta handledning som tutorials på YouTube, kanske för att Umbraco 9 är ganska nytt. Främst har jag tittat på Umbracos egna dokumentation och deras tutorials. Det finns också olika färdiga templates man kan installera i nuget manager. Dessa har hjälp mycket för att förstå verktyget bättre. All Content Modeling är färdigt att leka runt med och man behöver inte göra någon HTML eller CSS.</p>
<p><img src="?rmode=max&amp;width=500" alt="" width="500" height="334.67741935483866" data-udi="umb://media/54bf953068634afb97cd945087d2fae5" /></p>]]></Value>
    </bodyText>
    <categories>
      <Value><![CDATA[["Redovisning"]]]></Value>
    </categories>
    <introText>
      <Value><![CDATA[Umbraco 9 är relativt nytt!]]></Value>
    </introText>
    <publishedOn>
      <Value><![CDATA[2022-02-03T00:00:00]]></Value>
    </publishedOn>
    <subtitle>
      <Value><![CDATA[starter kits 👍]]></Value>
    </subtitle>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "093d2972-9e71-4f4e-9b86-c26664d4f833",
    "mediaKey": "54bf9530-6863-4afb-97cd-945087d2fae5",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </thumbnailImage>
    <title>
      <Value><![CDATA[Research]]></Value>
    </title>
  </Properties>
</Content>