<?xml version="1.0" encoding="utf-8"?>
<Content Key="6eb9a8ba-9d41-45f8-9c9c-39653c197385" Alias="senaste" Level="102">
  <Info>
    <Parent Key="8d7b4400-0402-4222-9a48-d253d71ec8be">Blogg</Parent>
    <Path>/[-20]/Blogg/senaste</Path>
    <Trashed Parent="8d7b4400-0402-4222-9a48-d253d71ec8be">true</Trashed>
    <ContentType>articleItem</ContentType>
    <CreateDate>2022-01-29T13:18:03</CreateDate>
    <NodeName Default="senaste" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="29c8fd91-b598-4188-804e-c821ed22f88f">ArticleItem</Template>
  </Info>
  <Properties>
    <authorName>
      <Value><![CDATA[]]></Value>
    </authorName>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <categories>
      <Value><![CDATA[]]></Value>
    </categories>
    <introText>
      <Value><![CDATA[]]></Value>
    </introText>
    <publishedOn>
      <Value><![CDATA[]]></Value>
    </publishedOn>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <thumbnailImage>
      <Value><![CDATA[]]></Value>
    </thumbnailImage>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>