<?xml version="1.0" encoding="utf-8"?>
<Content Key="7448fe7f-b378-4978-b057-85bf7bc73899" Alias="tillfällig" Level="2">
  <Info>
    <Parent Key="488a734f-c596-4e67-8ed9-e47fb92ebec7">Examensarbete 2022</Parent>
    <Path>/Examensarbete2022/tillfaellig</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2022-01-29T13:11:30</CreateDate>
    <NodeName Default="tillfällig" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="10bc88fc-a0fe-4877-9e4a-560489baa829">ContentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>content page</p>]]></Value>
    </bodyText>
    <title>
      <Value><![CDATA[My Content]]></Value>
    </title>
  </Properties>
</Content>