<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ace910b1-d74c-4eb5-93be-95133be23aec" Alias="cardContainer" Level="2">
  <Info>
    <Name>Card Container</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate>CardContainer</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7407eeea-962f-4d39-ac47-08402c6dd592">CardContainer</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a9fbf17f-b3ec-4711-9c49-afdd88fed1b4</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>a2ded99d-fc29-4f2f-a112-0798405336ad</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>69fd4339-63c6-4737-a0c5-56f719617efa</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>