<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3c598026-4e6d-4c52-a24c-89eb4de52d97" Alias="contentPage" Level="1">
  <Info>
    <Name>ContentPage</Name>
    <Icon>icon-box color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>ContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="10bc88fc-a0fe-4877-9e4a-560489baa829">ContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="ace910b1-d74c-4eb5-93be-95133be23aec" SortOrder="0">cardContainer</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>51fd6825-2ded-448b-8d57-fbf57a7f96f9</Key>
      <Name>BodyText</Name>
      <Alias>bodyText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="contentPageContent">ContentPageContent</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8543813d-d178-4f9a-ad90-7ef7bfeaed8c</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="contentPageContent">ContentPageContent</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>fe61d9a9-6425-4f78-a21e-f47d9e5ebb16</Key>
      <Caption>ContentPageContent</Caption>
      <Alias>contentPageContent</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>