<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b07456e9-d535-4f37-80b1-7ae60a992ca7" Alias="homePage" Level="1">
  <Info>
    <Name>Home page</Name>
    <Icon>icon-home color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>this is the homepage template</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c27dac07-2402-4828-b527-4e8c411e33da">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="d5aab886-564c-46ac-aceb-b5ea6221f515" SortOrder="0">contactContent</ContentType>
    <ContentType Key="4f9e9a6f-332f-4acb-a02c-297e347523e3" SortOrder="1">articlesMain</ContentType>
    <ContentType Key="3c598026-4e6d-4c52-a24c-89eb4de52d97" SortOrder="2">contentPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>05b9a944-e573-4007-a8e7-bd58b7eec506</Key>
      <Name>Body Text</Name>
      <Alias>bodyText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The Main content of page]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>da306161-be28-4fe1-ac21-2c5e213070ba</Key>
      <Name>Button Text</Name>
      <Alias>buttonText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="banner">Banner</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>79d046fb-ad9f-41d0-8a13-cb52f2ce3955</Key>
      <Name>Footer Text</Name>
      <Alias>footerText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Copyright notice for footer]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b86f3a65-8188-48fb-852f-dae5976d3568</Key>
      <Name>Header</Name>
      <Alias>header</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[header of the baner]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="banner">Banner</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a75dff00-5477-4b55-ae14-b58423c8ceb5</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The main title of page]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1c70e6e7-0ccd-4dd6-9600-df2bfe1f32ac</Key>
      <Name>Subtitle</Name>
      <Alias>subtitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="banner">Banner</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>8c6d83ea-0d5c-44dd-9381-5239252a9437</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>f7b467e0-ed05-4430-a273-073f042c23b2</Key>
      <Caption>Footer</Caption>
      <Alias>footer</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>f93c7c97-eb3c-42ce-8e4e-f43e40dd0259</Key>
      <Caption>Banner</Caption>
      <Alias>banner</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>