<?xml version="1.0" encoding="utf-8"?>
<DataType Key="22f1f769-3113-48ad-97fc-7be17f6da968" Alias="Böcker - Features - Block List" Level="1">
  <Info>
    <Name>Böcker - Features - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "7c170d3b-52cc-4365-8b06-52fa1ca9add2",
      "settingsElementTypeKey": null,
      "view": "~/Views/Custom_View/custom.html",
      "stylesheet": null,
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": true,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>