<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a2ded99d-fc29-4f2f-a112-0798405336ad" Alias="Card Container - Block List" Level="1">
  <Info>
    <Name>Card Container - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>