<?xml version="1.0" encoding="utf-8"?>
<Media Key="bf79e897-2c6b-486a-abde-1f2039612ff1" Alias="Image (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-02-11T11:04:49</CreateDate>
    <NodeName Default="Image (1)" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/shuhtp1l/image.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>