<?xml version="1.0" encoding="utf-8"?>
<Media Key="e226805f-b0d9-4be8-9ee5-0256b3058eeb" Alias="Image (2) (1)" Level="2">
  <Info>
    <Parent Key="0fea05ae-a983-405c-b61d-6c7ff45f6b26">Pressentation</Parent>
    <Path>/Pressentation/Image21</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-02-10T10:50:00</CreateDate>
    <NodeName Default="Image (2) (1)" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/lgacnywz/image.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>