<?xml version="1.0" encoding="utf-8"?>
<Media Key="7847a637-9b97-4f1c-84d8-a7a3f167ba3e" Alias="Image (3)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-02-28T12:41:14</CreateDate>
    <NodeName Default="Image (3)" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ggteo4ex/image.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>