<?xml version="1.0" encoding="utf-8"?>
<Media Key="4a54a449-c76d-4f60-a99b-b3b3e54dc245" Alias="Image (2) (2)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image22</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-02-11T11:04:02</CreateDate>
    <NodeName Default="Image (2) (2)" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/j4sfistn/image.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>