<?xml version="1.0" encoding="utf-8"?>
<Media Key="d5db9777-3a10-46ec-ae5a-43d088ff1a58" Alias="Image (1)" Level="2">
  <Info>
    <Parent Key="0fea05ae-a983-405c-b61d-6c7ff45f6b26">Pressentation</Parent>
    <Path>/Pressentation/Image1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-02-10T10:58:38</CreateDate>
    <NodeName Default="Image (1)" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/oglnxviq/image.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>