<?xml version="1.0" encoding="utf-8"?>
<Media Key="0fea05ae-a983-405c-b61d-6c7ff45f6b26" Alias="Pressentation" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Pressentation</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-02-10T10:49:54</CreateDate>
    <NodeName Default="Pressentation" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>