<?xml version="1.0" encoding="utf-8"?>
<Media Key="4573fcce-bbe1-4ffc-aa17-f9f6e8eb40c7" Alias="Umbraco Logo Blue" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/UmbracoLogoBlue</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-02-11T14:01:20</CreateDate>
    <NodeName Default="Umbraco Logo Blue" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/554hgrpb/umbraco_logo_blue.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>