<?xml version="1.0" encoding="utf-8"?>
<Media Key="68fdf15c-e018-476f-9e49-a03331464154" Alias="Umbraco Logo Blue1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/UmbracoLogoBlue1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-02-11T14:03:02</CreateDate>
    <NodeName Default="Umbraco Logo Blue1" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/llyp00ay/umbraco_logo_blue1.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>