<?xml version="1.0" encoding="utf-8"?>
<Media Key="315585dc-0220-4227-8cac-0ed9c3c1dc3c" Alias="Umbraco Logo Blue0.5" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/UmbracoLogoBlue05</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-02-11T14:01:35</CreateDate>
    <NodeName Default="Umbraco Logo Blue0.5" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/1kcfkmja/umbraco_logo_blue05.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>