<?xml version="1.0" encoding="utf-8"?>
<Media Key="933b66a9-2ee0-4fdd-94c4-86f028cca071" Alias="Åäö" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Aaeoe</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-02-28T12:41:51</CreateDate>
    <NodeName Default="Åäö" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/v3tdxe5a/aaaeoe.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>