<?xml version="1.0" encoding="utf-8"?>
<Media Key="78113e1e-2609-420f-a845-0a78a678ee84" Alias="Æ, Ø, Å" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AEOA</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-02-28T12:43:46</CreateDate>
    <NodeName Default="Æ, Ø, Å" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/da5bc4aj/ae-oe-aa.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>