<?xml version="1.0" encoding="utf-8"?>
<Content Key="37caf61d-1ae7-47e1-8408-823baf947507" Alias="Blogg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Blogg</Path>
    <Trashed>false</Trashed>
    <ContentType>articlesMain</ContentType>
    <CreateDate>2022-02-08T11:46:52</CreateDate>
    <NodeName Default="Blogg" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="c942fdaf-ac87-46a9-8b89-157b1fd3ef55">ArticlesMain</Template>
    <IsBlueprint>true</IsBlueprint>
  </Info>
  <Properties>
    <articleBodyText>
      <Value><![CDATA[<p>fsdsfsdfsdfsd</p>]]></Value>
    </articleBodyText>
    <articleTitle>
      <Value><![CDATA[Bloggar]]></Value>
    </articleTitle>
    <featureStory>
      <Value><![CDATA[]]></Value>
    </featureStory>
  </Properties>
</Content>